<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="header-container">
          <div class="left-header">
            <h1><a href="/">Book Reviews</a></h1>
            <nav>
                <a href="/reviewed">Reviewed books</a>
            </nav>
          </div>
            <form class="search-form" action="/search" method="get">
                <input type="text" name="q" placeholder="Search books....">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
<main>
